<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Check Out Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>
.container {
	width: 900px;
}

.text-color {
	color: #f70a0a;
}
</style>
</head>
<body>
	<div class="container">
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a href="/" class="navbar-brand bi-globe">Welcome to APEX</a>
				<button type="button" class="navbar-toggler"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<div class="navbar-nav ms-auto">
						<a href="/setting" class="nav-item nav-link active">[[#{menu.setting}]]</a>
						<a href="/logout" class="nav-item nav-link active">[[#{menu.logout}]]</a>
					</div>
				</div>
			</div>
		</nav>
		<br>
		<div id="contract" class="card">
			<div class="card-body mx-5">
				<p class="my-3 mx-3" style="font-size: 30px; text-align: center;">[[#{signing.title.text}]]</p>
				<div class="row">
					<p>
						[[#{date.time}]]:<span class="float-right" id="time"></span>
					</p>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>[[#{motor.name}]]</th>
							<th>[[#{motor.model}]]</th>
							<th>[[#{motor.num}]]</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>[[#{motor.name.text}]]</td>
							<td>DBA-ZN6</td>
							<td>ZN6-1234567</td>
						</tr>
					</tbody>
				</table>

				<table class="table">
					<thead>
						<tr>
							<th>[[#{seller.info}]]</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th>[[#{customer.info}]]</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>[[#{seller.com.name}]]</td>
							<td colspan="4">[[#{seller.name}]]</td>
							<td>[[#{retrieve.name}]]</td>
							<td colspan="4" class="text-color" th:text="${checkoutform.name}"></td>
						</tr>
						<tr>
							<td>[[#{seller.contract.date}]]</td>
							<td colspan="4">2022/10/14</td>
							<td>[[#{retrieve.dob}]]</td>
							<td colspan="4" class="text-color" th:text="${checkoutform.dob}"></td>
						</tr>
						<tr>
							<td>[[#{seller.com.mail}]]</td>
							<td colspan="4">jidousha@apex.com</td>
							<td>[[#{retrieve.job}]]</td>
							<td colspan="4" class="text-color" th:text="${checkoutform.job}"></td>
						</tr>
						<tr>
							<td>[[#{seller.com.phno}]]</td>
							<td colspan="4">[[#{seller.phno}]]</td>
							<td>[[#{retrieve.phno}]]</td>
							<td colspan="4" class="text-color"
								th:text="${checkoutform.phone}"></td>
						</tr>
						<tr>
							<td>[[#{seller.com.address}]]</td>
							<td colspan="4">[[#{seller.address}]]</td>
							<td>[[#{retrieve.address}]]</td>
							<td colspan="4" class="text-color"
								th:text="${checkoutform.address}"></td>
						</tr>
					</tbody>
				</table>

				<div class="row">
					<ul class="list-unstyled">
						<li class="text-black"><h3>[[#{purchase.info}]]</h3></li>
					</ul>
				</div>

				<div class="row">
					<div class="col-xl-4">
						<p>[[#{purchase.amount}]]</p>
					</div>
					<div class="col-xl-6">
						<p class="float-end">[[#{purchase.amount.value}]]</p>
					</div>
					<hr>
				</div>
				<div class="row">
					<div class="col-xl-4">
						<p>[[#{purchase.tax}]]</p>
					</div>
					<div class="col-xl-6">
						<p class="float-end">[[#{purchase.tax.value}]]</p>
					</div>
					<hr>
				</div>

				<div class="row text-black">

					<div class="col-xl-10">
						<p class="float-end fw-bold">Total: [[#{purchase.total}]]</p>
					</div>
					<hr style="border: 2px solid black;">
					<div class="text-center" th:if="${checkoutform.soapFlg == 1}">
						<p class="text-color">[[#{sign.data.text}]]</p>
					</div>
				</div>

				<div class="text-center"
					style="margin-top: 30px; margin-buttom: 30px">
					<form th:action="@{/digitalSign}" method="post">
						<button type="submit" class="btn btn-success">[[#{signing.button}]]</button>
					</form>
				</div>
			</div>
		</div>
		<div class="text-center" style="margin-top: 20px;">
			<form id="return_checkoutpage" th:action="@{/returnCheckoutPage}"
				onsubmit="return confirmSubmit('If you return checkout page, you will lost data.', 'return_checkoutpage');">
				<button type="submit" class="btn btn-secondary">[[#{setting.return}]]</button>
			</form>
		</div>
<!-- 		<div class="text-center" style="margin-top: 30px;">
			<button onclick="downloadPDF()">Download</button>
		</div> -->
		<div style="margin-top: 30px;"></div>
	</div>

	<script>
		var dt = new Date();
		document.getElementById("time").innerHTML = dt.toLocaleDateString();
	</script>
	<script>
		function confirmSubmit(message, formId) {
			if (confirm(message) === true) {
				document.getElementById(formId).submit();
				return true;
			} else {
				return false;
			}
		}

		function downloadPDF() {
			const element = document.getElementById("contract");

			html2pdf().from(element).save();
		}
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
	<script
		src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
</body>
</html>