<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>APEX Home Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<style>
.container {
	width: 800px;
	height: 500px
}

body{
font-family: Arial, Helvetica, sans-serif;
}
</style>
<body>
	<!-- Nav Bar -->
	<div class="container">
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a href="/" class="navbar-brand bi-globe">Welcome to APEX</a>
				<button type="button" class="navbar-toggler"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<div class="navbar-nav">
						<a href="/setting" class="nav-item nav-link disabled"
							tabindex="-1">[[#{menu.setting}]]</a> 
							<a href="#" class="nav-item nav-link active">[[#{menu.history}]]</a> 
							<a href="#" class="nav-item nav-link disabled" tabindex="-1">[[#{menu.report}]]</a>
					</div>
					<div class="navbar-nav ms-auto">
						<a href="/logout" class="nav-item nav-link active">[[#{menu.logout}]]</a>
					</div>
				</div>
			</div>
		</nav>
		<br> <br> <br>
		<div class="p-5 mb-3 bg-light rounded-3 d-grid gap-2">
			<div th:unless="${#authentication.getPrincipal().getPlanetId()}">
				<form class="mb-2" th:action="@{/linking/planetid}" method="get">
					<div class="form-group mx-auto" style="width: 200px;">
						<input type="submit" name="link-planetID" id="link-planetID"
							class="form-control btn btn-secondary"
							value="Link with Planet ID" />
					</div>
				</form>
			</div>
			<div class="mb-2" th:if="${#authentication.getPrincipal().getPlanetId()}">
				<form id="unlink_form_post" th:action="@{/unlink}" method="get"
					onsubmit="return confirmSubmit('Are you sure you want to unlink your Planet ID?', 'unlink_form_post');">
					<div class="form-group mx-auto" style="width: 200px;">
						<input type="submit" name="unlink-planetID" id="unlink-planetID"
							class="form-control btn btn-secondary"
							value="Unlink with Planet ID" />
					</div>
				</form>
			</div>
			<form class="mb-2" th:action="@{/#}" method="get">
				<div class="form-group mx-auto" style="width: 200px;">
					<input type="submit" name="delete-user" id="delete-user"
						class="form-control btn btn-secondary" value="Delete Account" />
				</div>
			</form>
			<form class="mb-2" th:action="@{/}" method="get">
				<div class="form-group mx-auto" style="width: 200px;">
					<input type="submit" name="history" id="history"
						class="form-control btn btn-secondary" th:value="#{'setting.return'}" />
				</div>
			</form>
		</div>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>

	<script>
    function confirmSubmit(message, formId) {
        if (confirm(message) === true) {
            document.getElementById(formId).submit();
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>